@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-gray: #E9E9E9;
  --color-orange: #FF772D;
  --color-navtext: #5E5D5C;
  --color-footer: #366059;
  --font-urbanist: 'Urbanist', sans-serif;
  --text-title: "56px";

}



/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; 
} 
*/

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animation-zoom-out-hover:hover {
  animation: zoomOut 0.3s ease-in-out forwards;
}